{% extends 'base.html' %}
{% block content %}
<h1>Blogs</h1>
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="btn btn-primary" href="{% url 'new_blog' %}">Add Blog <span class="sr-only">(current)</span></a>
    </li>
</ul>
<div class="wrapper">
    {% for item in items %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ item.title }}</div>
        <div class="card-body">
            <img style="width: 200px; height: 200px;" src="{{ MEDIA_URL }}{{ item.image }}" alt="">
            <p class="card-text">{{ item.content |truncatewords:30 }}.</p>
            <form method='get' action="{{ item.id }}">
                <button style="padding: 5px 10px; width: 100px;" class="btn btn-primary">Read More</button>
            </form>
            <form method='get' action="{{ item.id }}/edit">
                <button style="padding: 5px 10px; width: 100px;" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}