

h1, p {
    text-align: center;
}

table {
    margin: 0 auto;
}

body{
    text-align: center ;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.inner {
    width: 100%;
}

input {
    width: 100%;
}